@font-face {
  font-family: "cabin";
  src: url("/fonts/cabin/CabinSketch-Regular.ttf");
}
@font-face {
  font-family: "dk";
  src: url("/fonts/dk/dk.ttf");
}
@font-face {
  font-family: "eraser";
  src: url("/fonts/eraser/EraserRegular.ttf");
}
@font-face {
  font-family: "pastel";
  src: url("/fonts/pastel/pastel.woff");
}