// Colors
$clr1 : #d11e2b;
$clr2 : #293540;;
$clr3 : #b0bfe0;
$clr4 : #916ab9;
$clr5 : #b0bfe0;
$clr6 : #d2ccd2;
$clr7 : #19243a;

// Breakpoints
$s-bp: 600px;
$m-bp: 768px;
$l-bp: 1024px;
$xl-bp: 1280px;

$xl-width: 1263px;