// $clr1 : #a8001c;
// $clr2 : #660011;
// $clr3 : #ffe70c;
// $clr4 : #b4b4b4;
// $clr5 : #ebebeb;
// $clr6 : #fff;

// new pallete
$clr1 : #8a021b;
$clr2 : #ffe70c;
$clr3 : #2d2d2d;
$clr4 : #505050;
$clr5 : #b4b4b4;
$clr6 : #ebebeb;
$clr7 : #fff;
$clr8 : #222;

// Breakpoints
$s-bp: 600px;
$m-bp: 768px;
$l-bp: 1024px;
$xl-bp: 1280px;

$xl-width: 1263px;
