.game {
  grid-column: 2;
  grid-row: 2;
  background-color: lightblue;
  position: relative;
}

.captain {
  position: absolute;
  width: 20%;
  height: 15%;
  background-image: url(../img/captain.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  left: 4%;

  transition: top .2s;
}