enemy {
  // width: 30px;
  // height: 30px;
  // background: green;

  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(100%);

  &.asteroid {
    width: 12%;
    height: 12%;
    background-image: url(/img/asteroid.png);

  }
}