
html {
    font-family: pastel;
    color: $clr2;
}

body {
    margin: 0;
}

button {
    border: 20px solid;
    border-image-source: url(/img/crayon-border.png);
    border-image-slice: 240;
    background: $clr4;
    text-transform: uppercase;
    font-family: pastel;
    color: #fff;
    font-size: 16px;

    cursor: pointer;

    &:hover {
        background: $clr1;
    }
}