
html {
    font-family: pastel;
    color: $clr4;
}

body {
    margin: 0;
    background-color: $clr6;
}

button {
    border: 20px solid;
    border-image-source: url(../img/crayon-border.png);
    border-image-slice: 240;
    background-color: $clr4;
    text-transform: uppercase;
    font-family: pastel;
    color: #fff;
    font-size: 16px;

    transition: background-color .3s;

    cursor: pointer;

    &:hover {
        background-color: darken($clr4, 20%);
    }
}