.aspect-16-9 {
    @include aspect-ratio(16, 9);
}

.message {
    border: 30px solid;
    border-image-source: url(/img/crayon-border-white.png);
    border-image-slice: 140;
    color: $clr4;
    font-size: 24px;
    position: relative;
    
    &::before {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.score {
    font-size: 1.3em;
    color: $clr1;
}