body {
    display: grid;
    
    gap: 10px;
    grid-template-columns: 
        minmax(1.6rem, auto)
        minmax(auto, 1200px)
        minmax(1.6rem, auto);
        min-height: 100vh;
        grid-template-rows: 1fr 60px auto 1fr;
        
        .game {
            grid-column: 2;
            grid-row: 3;
            background-color: $clr3;
            position: relative;
            @include crayon-border;
        }
        
        .game-info {
            grid-column: 2;
            grid-row: 2;
            align-items: center;
            display: flex;
            font-size: 30px;
            text-transform: uppercase;
            @include crayon-border;
          }
}
