/* Breakpoint mixins */
/* Media  Mixins */
@font-face {
  font-family: "cabin";
  src: url("../fonts/cabin/CabinSketch-Regular.ttf"); }

@font-face {
  font-family: "dk";
  src: url("../fonts/dk/dk.ttf"); }

@font-face {
  font-family: "eraser";
  src: url("../fonts/eraser/EraserRegular.ttf"); }

@font-face {
  font-family: "pastel";
  src: url("../fonts/pastel/pastel.woff"); }

body {
  display: grid;
  gap: 4px;
  grid-template-columns: minmax(1.6rem, auto) minmax(auto, 600px) minmax(1.6rem, auto);
  min-height: 100vh;
  grid-template-rows: 1fr 60px auto 60px 1fr; }
  @media (min-height: 560px) {
    body {
      grid-template-columns: minmax(1.6rem, auto) minmax(auto, 700px) minmax(1.6rem, auto); }
      body .message {
        font-size: 15px; } }
  @media (min-height: 700px) {
    body {
      grid-template-columns: minmax(1.6rem, auto) minmax(auto, 900px) minmax(1.6rem, auto); }
      body .message {
        font-size: 20px; } }
  @media (min-height: 930px) {
    body {
      grid-template-columns: minmax(1.6rem, auto) minmax(auto, 1200px) minmax(1.6rem, auto); }
      body .message {
        font-size: 24px; } }
  body .game-container {
    grid-column: 2;
    grid-row: 3;
    position: relative;
    border: 30px solid;
    border-image-source: url(../img/crayon-border.png);
    border-image-slice: 140;
    transition: background-color 0.8s; }
    body .game-container .game {
      cursor: none; }
    body .game-container[data-mode="day"] {
      background-color: #b0bfe0; }
    body .game-container[data-mode="space"] {
      background-color: #293540; }
    body .game-container[data-mode="end"] {
      background-color: #293540; }
    body .game-container[data-mode="start"] {
      background-color: #b0bfe0; }
      body .game-container[data-mode="start"] .game {
        transform: translateY(-100%); }
      body .game-container[data-mode="start"] .game-start {
        transform: translateY(0); }
    body .game-container[data-mode="end"] {
      background-color: #19243a; }
      body .game-container[data-mode="end"] .game {
        transform: translateY(-100%); }
      body .game-container[data-mode="end"] .game-end {
        transform: translateY(0); }
    body .game-container > * {
      transition: transform 0.8s;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end; }
  body .game-start {
    background-image: url(../img/happy-captain.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 16%;
    transform: translateY(100%); }
  body .game-end {
    background-image: url(../img/happy-captain.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 16%;
    transform: translateY(100%); }
  body .game-info {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    justify-content: space-between;
    background-color: #fff;
    color: #916ab9;
    border: 30px solid;
    border-image-source: url(../img/crayon-border.png);
    border-image-slice: 140;
    transition: all 0.8s;
    transform: translateY(-100%);
    opacity: 0; }
    body .game-info .stop-watch {
      border: 20px solid;
      border-image-source: url(../img/crayon-border.png);
      border-image-slice: 240;
      background: white;
      font-size: 44px;
      width: 130px;
      text-align: center;
      position: relative;
      bottom: 0px;
      z-index: 1; }
  body.game-on .game-info {
    transform: translateY(0);
    opacity: 1; }
  body .game-actions {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: flex-end;
    font-size: 28px; }

html {
  font-family: pastel;
  color: #916ab9; }

body {
  margin: 0;
  background-color: #d2ccd2; }

button {
  border: 20px solid;
  border-image-source: url(../img/crayon-border.png);
  border-image-slice: 240;
  background-color: #916ab9;
  text-transform: uppercase;
  font-family: pastel;
  color: #fff;
  font-size: 16px;
  transition: background-color .3s;
  cursor: pointer; }
  button:hover {
    background-color: #5e3c81; }

.aspect-16-9 {
  position: relative;
  overflow: hidden; }
  .aspect-16-9:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .aspect-16-9 > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .aspect-16-9 > img {
    height: 100%;
    object-fit: cover; }

.message {
  border: 40px solid;
  border-image-source: url(../img/crayon-border-white.png);
  border-image-slice: 140;
  color: #916ab9;
  font-size: 12px;
  position: relative;
  max-width: 40ch; }
  .message::before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.score {
  font-size: 1.3em;
  color: #d11e2b; }

.captain {
  position: absolute;
  width: 26%;
  height: 15%;
  background-image: url(../img/captain.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 4%;
  top: 0; }
  .captain.punch {
    background-position: top; }

enemy {
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(100%); }
  enemy.asteroid {
    width: 12%;
    height: 12%;
    background-image: url(../img/asteroid.png); }
  enemy.underpants {
    width: 10%;
    height: 10%;
    background-image: url(../img/underpants.png); }
  enemy.house {
    width: 10%;
    height: 20%;
    background-image: url(../img/house.png);
    z-index: 20; }
  enemy.building {
    width: 10%;
    height: 59%;
    background-image: url(../img/building.png); }
  enemy.choper {
    width: 17%;
    height: 22%;
    background-image: url(../img/choper.png); }
  enemy.spaceship {
    width: 22%;
    height: 20%;
    background-image: url(../img/spaceship.png); }
  enemy.boom {
    background-image: url(../img/boom.png); }
