@charset "UTF-8";
/* Breakpoint mixins */
/* Media  Mixins */
@font-face {
  font-weight: 200;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewLight.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewLight.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

@font-face {
  font-weight: 400;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewRegular.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewRegular.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

@font-face {
  font-weight: 700;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewBold.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewBold.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

body.is-app {
  margin: 0 !important;
  padding: 0 !important; }

body.dark-mode,
.dark-mode .corona-stats-container {
  background-color: #222; }

@media (max-width: 600px) {
  .corona-stats-container {
    margin: 12px 0 36px;
    padding: 0 12px; }
    .is-app .corona-stats-container {
      margin: 0;
      padding: 0; } }

@media (min-width: 600px) {
  .corona-stats-container {
    background-color: #EBF2F5;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 600px 1fr; } }

@media (min-width: 768px) {
  .corona-stats-container {
    grid-template-columns: 1fr 768px 1fr; } }

@media (min-width: 1024px) {
  .corona-stats-container {
    grid-template-columns: 1fr 1024px 1fr; } }

@media (min-width: 1280px) {
  .corona-stats-container {
    grid-template-columns: 1fr 1263px 1fr; } }

.corona-stats {
  grid-column: 2;
  display: grid;
  grid-gap: 24px;
  position: relative; }
  @media (max-width: 600px) {
    .corona-stats {
      grid-template-rows: auto auto 0;
      padding: 16px 6px 0; } }
  @media (min-width: 600px) {
    .corona-stats {
      padding: 16px 12px 0;
      border-bottom: 38px solid #fff; } }
  @media (min-width: 1024px) {
    .corona-stats {
      grid-template-columns: minmax(400px, auto) 1fr;
      grid-template-rows: auto 40px;
      padding: 14px 14px 0;
      gap: 0; } }
  @media (min-width: 1280px) {
    .corona-stats {
      grid-template-columns: minmax(480px, auto) 1fr;
      grid-template-rows: auto 40px;
      padding: 28px 28px 0; } }
  .corona-stats a.corona-link {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

.corona-israel-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 12px 0; }
  @media (min-width: 600px) {
    .corona-israel-container {
      grid-row-gap: 12px;
      grid-template-rows: 50px auto; } }
  @media (min-width: 1024px) {
    .corona-israel-container {
      padding-inline-end: 24px;
      border-left: 2px solid #8a021b; } }
  @media (min-width: 1280px) {
    .corona-israel-container {
      padding-inline-end: 38px; } }
  .corona-israel-container .corona-israel-chart {
    grid-column: 1 / -1;
    align-self: flex-end; }

.corona-israel-title {
  margin-left: 12px; }
  @media (max-width: 600px) {
    .corona-israel-title {
      grid-column: span 2; } }

@media (max-width: 600px) {
  .corona-israel-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6px; }
    .corona-israel-stats > * {
      background-color: #fff; } }

.corona-world-container {
  display: grid;
  grid-gap: 12px 6px;
  grid-template-columns: 1fr 1fr; }
  @media (min-width: 600px) {
    .corona-world-container {
      grid-template-columns: minmax(180px, auto) 1fr;
      grid-template-rows: 50px auto;
      grid-gap: 12px 24px; } }
  @media (min-width: 1024px) {
    .corona-world-container {
      padding-inline-start: 24px; } }
  @media (min-width: 1280px) {
    .corona-world-container {
      grid-template-columns: minmax(240px, auto) 1fr;
      padding-inline-start: 38px;
      gap: 10px 38px; } }
  @media (min-width: 600px) {
    .corona-world-container .el-block {
      grid-column: 1; } }
  .corona-world-container .corona-world-title {
    grid-column: span 2; }
    @media (min-width: 600px) {
      .corona-world-container .corona-world-title {
        grid-column: auto; } }
  .corona-world-container .countries-table {
    display: none;
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: stretch; }
    @media (min-width: 600px) {
      .corona-world-container .countries-table {
        display: table; } }

.corona-footer {
  background-color: #8a021b;
  border-radius: 24px;
  color: #fff;
  padding: 1px 24px;
  transform: translateY(50%);
  justify-self: center;
  align-self: end;
  grid-column: 1 / -1;
  white-space: nowrap; }
  .corona-footer > *, .corona-footer:before, .corona-footer:after {
    vertical-align: middle; }
  .corona-footer:before {
    animation: liveDotAnim 1s infinite alternate linear;
    background-color: #fff;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 8px;
    position: relative;
    width: 10px; }
  .corona-footer:after {
    content: '›';
    display: inline-block;
    font-size: 1.3em;
    margin-right: 6px;
    position: relative;
    top: -1px;
    transform: scale(1.3); }

@keyframes liveDotAnim {
  0% {
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    opacity: 1; } }

body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(1.6rem, auto) minmax(auto, 1200px) minmax(1.6rem, auto);
  min-height: 100vh;
  grid-template-rows: 1fr auto 1fr; }

.aspect-16-9 {
  position: relative;
  overflow: hidden; }
  .aspect-16-9:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .aspect-16-9 > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .aspect-16-9 > img {
    height: 100%;
    object-fit: cover; }

.game {
  grid-column: 2;
  grid-row: 2;
  background-color: lightblue;
  position: relative; }

.captain {
  position: absolute;
  width: 20%;
  height: 15%;
  background-image: url(../img/captain.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 4%;
  transition: top .2s; }
