/* Breakpoint mixins */
/* Media  Mixins */
@font-face {
  font-weight: 200;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewLight.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewLight.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

@font-face {
  font-weight: 400;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewRegular.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewRegular.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

@font-face {
  font-weight: 700;
  font-display: fallback;
  src: url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewBold.woff2") format("woff2"), url("https://www.haaretz.co.il/static/fonts/OpenSansHebrewBold.woff") format("woff");
  font-family: "Open Sans Hebrew"; }

body {
  display: grid;
  grid-template-columns: minmax(1.6rem, auto) minmax(auto, 1200px) minmax(1.6rem, auto);
  min-height: 100vh;
  grid-template-rows: 1fr 60px auto 1fr; }
  body .game {
    grid-column: 2;
    grid-row: 3;
    background-color: lightblue;
    position: relative; }
  body .game-info {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    display: flex; }

body {
  margin: 0; }

.aspect-16-9 {
  position: relative;
  overflow: hidden; }
  .aspect-16-9:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .aspect-16-9 > img {
    height: 100%;
    object-fit: cover; }

.captain {
  position: absolute;
  width: 26%;
  height: 15%;
  background-image: url(../img/captain.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 4%;
  top: 0; }
  .captain.punch {
    background-position: top; }

enemy {
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(100%); }
  enemy.asteroid {
    width: 12%;
    height: 12%;
    background-image: url(/img/asteroid.png); }
